* {
	margin: auto;
}

@font-face {
	font-family: "Alba Super";
	src: url("./albas.TTF");
}

#wrapper{
	margin-left: 2%;
	margin-right: 2%;
	width: auto;
}

#canvas, #controls, #chat{
	margin: 5px 5px 5px 5px;
	float: left;
	display: inline-block;
}


#canvas, #chat {
	touch-action: none;
	border: 10px double white;
	border-radius: 10px;
}

#controls, #chat{
	width: 30%;
}

#chat{
	height: 395px;
	position: relative;
	overflow-y: auto;
}
      
#messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}

#messages > li { padding: 0.5rem 1rem; font-family: "Segoe UI", sans-serif;}
#messages > li:nth-child(odd) { background: darkslategray; }

#controls button {
	background-color: black;
	color: white;
	height: 75px;
	width: 150px;
	border: 10px double white;
	border-radius: 10px;
	font-size: 20px;
}
#reset{
	margin-left: 5px;
}

body {
	color: white;
	background-color: black;
}

#title {
	font-family: Alba Super, sans-serif;
	position: absolute;
	top: 0;
	left: 205px;
	background-color: black;
}